<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TELoIP User Manager</title>
    <script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ss-utils.js"></script>
    <link href="Content/default.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="Content/teloip_favicon.jpg">
    <style type="text/css">
        body {
            margin: 20px;
            color: #444;
        }

        [data-click] {
            cursor: pointer;
            padding: 0 10px;
            font-size: 18px;
        }

        span[data-click] {
            color: #999;
        }

            span[data-click]:hover {
                color: #333;
            }

        #edit-user .rotate {
            visibility: hidden;
            font-size: 18px;
            margin: 0 0 0 10px;
        }

        #edit-user .loading .rotate {
            visibility: visible;
        }

        .user-modal {
            display: none;
        }

        .remove-none {
            display: none;
        }

        .remove-visibility {
            visibility: hidden;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="Content/TELoIP_blue_logo_r217px.png" alt="TELoIP Blue Logo" />
                <span class="h1">User Manager</span>
                <div id="global-alert" class="alert alert-success" style="display: none"></div>
            </div>
            <div class="col-lg-2 col-lg-offset-4 authenticated remove-visibility" id="userstatus-pane">
                <span id="status-username"></span> ( <a data-click="logoutOperation">Logout</a> )
            </div>
        </div>
        <div class="row col-lg-6 col-lg-offset-3 unpopulated remove-none">
            <form id="populate-data-form" action='@(new PopulateDataRequest {DomainName = ""}.ToPostUrl())' method="POST">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label for="FirstName">Installer User First Name</label>
                        <input class="form-control input-sm" type="text" name="FirstName" value="" placeholder="First Name">
                        <span class="help-block"></span>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="LastName">Installer User Last Name</label>
                        <input class="form-control input-sm" type="text" name="LastName" value="" placeholder="Last Name">
                        <span class="help-block"></span>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="Email">Installer User Email</label>
                        <input class="form-control input-sm" type="text" name="EmailAddress" value="" placeholder="email">
                        <span class="help-block">Initial login password is First Name</span>
                    </div>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="E-Active">Populate with sample data</label>
                    <select class="form-control input-sm" name="Populate">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span class="help-block"></span>
                </div>

                <label for="DomainName">Enter Domain Name applied to sample email addresses</label>
                <input type="text" id="DomainName" name="DomainName" placeholder="domainname.com" />
                <button id="Populate" type="submit" class="btn btn-block btn-warning">Initialize Database</button>
            </form>
        </div>
        <div class="row unauthenticated remove-none">
            <form class="form-signin" id="form-authenticate" action="@(new Authenticate().ToPostUrl())" method="POST">
                <input type="hidden" name="RememberMe" value="true" />
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="UserName" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-2 authenticated remove-visibility" id="users-pane">
                <h3>Users <a data-click="createRecord" data-id=""><span class="glyphicon glyphicon-plus"></span></a></h3>
                <ul id="contacts" class="nav"></ul>
            </div>
            <div class="col-lg-10">
                <!-- Content Area-->
                <div class="authenticated user-modal remove-none" id="create-user">
                    <form id="form-createuser" action="@(new CreateUser().ToPostUrl())" method="POST">
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="FirstName">First Name</label>
                                <input class="form-control input-sm" type="text" id="FirstName" name="FirstName" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="LastName">Last Name</label>
                                <input class="form-control input-sm" type="text" id="LastName" name="LastName" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="Email">Email</label>
                                <input class="form-control input-sm" type="text" id="Email" name="EmailAddress" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <button class="btn btn-sm btn-default" type="submit">Create New User</button>
                            </div>
                            <div class="col-sm-2 form-group">
                                <a data-click="cancelOperation" data-id="">Cancel</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="authenticated user-modal remove-none" id="edit-user" style="border-bottom: 1px solid #ccc; padding: 0 0 10px 0; margin: 0 0 10px 0;">
                    <div class='glyphicon glyphicon-user' style='float: left; font-size: 65px; line-height: 65px; margin: 15px 20px 0 0'></div>
                    <h3>Edit User</h3>
                    <form id="form-edituser" method="POST"
                          action="@(new UpdateUser().ToPostUrl())"
                          data-action-alt="">
                        <div class="clearfix"></div>
                        <div class="alert alert-success" style="display: none"></div>
                        <input type="hidden" id="E-Id" name="Id" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="FirstName">First Name</label>
                                <input class="form-control input-sm" type="text" id="E-FirstName" name="FirstName" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="LastName">Last Name</label>
                                <input class="form-control input-sm" type="text" id="E-LastName" name="LastName" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 form-group">
                                <label for="Email">Email</label>
                                <input class="form-control input-sm" type="text" id="E-EmailAddress" name="EmailAddress" value="" placeholder="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 form-group">
                                <label for="E-Active">Active</label>
                                <select class="form-control input-sm" id="E-Active" name="Active">
                                    <option value="true">Active User</option>
                                    <option value="false">Inactive User</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                            <div class="col-sm-5 form-group">
                                <label for="E-Locked">Locked</label>
                                <select class="form-control input-sm" id="E-Locked" name="Locked">
                                    <option value="true">Locked User</option>
                                    <option value="false">Unlocked User</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="Password">New Password</label>
                                <input class="form-control input-sm" type="password" id="Password" name="Password">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <!--  name="Update"-->
                                <button id="update-button" class="btn btn-lg btn-default" type="submit">Update</button>
                            </div>
                            <div class="col-sm-4 form-group">
                                <a id="cancel-button" data-click="cancelOperation" data-id="">Cancel</a>

                            </div>
                            <div class="col-sm-4 form-group">
                                <a id="delete-button" data-click="deleteRecord" data-id="">Delete</a>
                            </div>
                        </div>
                        <div class=""></div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="authenticated remove-none" id="activitylog-pane">
                    <form id="AL-Controls">
                        <div class="form-group">
                            <h3>
                                <span class='glyphicon glyphicon-eye-open' style='font-size: 65px; line-height: 65px; margin: 15px 20px 0 0'></span>
                                Audit Log
                            </h3>
                            <label for="AL-Count">Most Recent Count</label>
                            <select class="form-control input-sm" id="AL-Count" name="Count">
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="">All</option>
                            </select>
                            <span class="help-block"></span>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>User</th>
                                        <th>Action
                                        <th>Subject
                                    </tr>
                                </thead>
                                <tbody id="AL-Content"></tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
        $("input").change($.ss.clearAdjacentError);

        function addUser(user) {
            var html = user.map(function(c) {
                var glyphsToAdd = "&nbsp;";
                if (c.Active == false) {
                    glyphsToAdd += "<span class='glyphicon glyphicon-off' style='margin: 0 5px 0 0'/>";
                }
                if (c.Locked == true) {
                    glyphsToAdd += "<span class='glyphicon glyphicon-lock' style='margin: 0 5px 0 0'/>";
                }

                return "<li data-id='" +
                    c.Id +
                    "' data-click='showUser'>" +
                    c.FirstName +
                    " " +
                    c.LastName +
                    glyphsToAdd +
                    "</li>";
            });
            $("#contacts").append(html.join(''));
        }

        function refreshActivityLog() {
            var request = { Count: $("#AL-Count").val(), SubjectUserId: null, UserId: null };
            $.getJSON("@(new GetActivityRecords().ToGetUrl())",
                request,
                function(emails) {
                    if (emails.length > 0) {
                        $("#AL-Content").html(
                            emails.map(function(log) {
                                return "<tr>" +
                                    "<td>" +
                                    $.ss.dfmthm(new Date(log.Time)) +
                                    "</td>" +
                                    "<td>" +
                                    log.UserId +
                                    "</td>" +
                                    "<td>" +
                                    log.Activity +
                                    "</td>" +
                                    "<td>" +
                                    log.SubjectUserId +
                                    "</td>" +
                                    "<td class='notetoggle'>Notes <span class='glyphicon glyphicon-triangle-bottom'></span></td>" +
                                    "</tr>" +
                                    "<tr style='display: none'><td colspan='5'><pre>" +
                                    log.Notes +
                                    "</pre></td>" +
                                    "</tr>";
                            }));
                    }
                    $('.notetoggle').click(function() {
                        $(this.firstChild.nextSibling).toggleClass("glyphicon-triangle-bottom glyphicon-triangle-top");
                        var targetElement = $(this).closest('tr').next('tr');
                        var currentStyle = targetElement.css('display');
                        var newStyle = (currentStyle === "none") ? "block" : "none";
                        targetElement.css('display', newStyle);
                    });
                });
        }

        function refreshUserList() {
            $("#contacts").empty();
            $.getJSON("/users", addUser);
        }

        function refreshAllData() {
            console.log("Refresh All Data");
            refreshUserList();
            console.log("UserListDone");
            refreshActivityLog();
            console.log("ActivityListDone");

        }

        $(document).ready(function() {
            $('#logout').click(function() {

            });
            $("#AL-Count").change(function() {
                refreshActivityLog();
            });
            reloadDocument();
        });

        function reloadDocument() {
            handleDataPopulation().then(
                function() {
                    console.log("Database Population Not Needed");
                    $(".unpopulated.remove-none").css('display', 'none');
                    $(".unpopulated.remove-visiblity").css('visibility', 'hidden');
                    handleAuthentication();
                }).catch(function() {
                $(".unpopulated.remove-none").css('display', 'block');
                $(".unpopulated.remove-visiblity").css('visibility', 'visible');
                console.log("Database Population Needed");
            });
        };


        function handleDataPopulation() {
            return new Promise((resolve, reject) =>
                $.getJSON("@(new PopulateCheckRequest().ToGetUrl())",
                    function() {
                    }).done(function(response) {
                    resolve(response);
                }).fail(function() {
                    reject("Needs data population");
                }));
        }

            //$.getJSON("@(new PopulateCheckRequest().ToGetUrl())",
            //    function() {
            //    }).done(function (response) {
            //        console.log("Database Population Not Needed");
            //        $(".unpopulated.remove-none").css('display', 'none');
            //        $(".unpopulated.remove-visiblity").css('visibility', 'hidden');
            //}).fail(function() {
             //   $(".unpopulated.remove-none").css('display', 'block');
             //   $(".unpopulated.remove-visiblity").css('visibility', 'visible');
            //    console.log("Database Population Needed");
           //     });
           // */


        function handleAuthentication() {
            $.getJSON("@(new Authenticate().ToGetUrl())",
                function() {
                    console.log("Success");
                }).done(function(response) {
                console.log("Auth Success");
                $("#status-username").html('Welcome ' + response.DisplayName).show();
                $(".authenticated.remove-none").css('display', 'block');
                $(".authenticated.remove-visibility").css('visibility', 'visible');

                $(".unauthenticated.remove-none").css('display', 'none');
                $(".unauthenticated.remove-visibility").css('visiblity', 'hidden');
                $(".user-modal").css('display', 'none');
                setTimeout(refreshAllData, 100);
            }).fail(function() {
                console.log("Auth Fail");
                $(".authenticated.remove-none").css('display', 'none');
                $(".authenticated.remove-visibility").css('visibility', 'hidden');
                $(".unauthenticated.remove-none").css('display', 'block');
                $(".unauthenticated.remove-visibility").css('visiblity', 'visible');
            }).always(function() {
                console.log("Completed");
            });
        }


        $("#populate-data-form").bindForm({
            success: function(info) {
                $("#populate-data-form .form-control").val('');
                $("#global-alert").html('Population response: ' + info.Result).show();
                reloadDocument();
            }
        });

        $("#form-createuser").bindForm({
            success: function(user) {
                addUser([user]);
                $("#create-user.remove-none").css('display', 'none');
                $("#create-user.remove-visibility").css('visibility', 'hidden');
                $("#global-alert").html('Created User:' + user.FirstName + ' ' + user.LastName).show();

                $("#form-createuser input").val('');
                setTimeout(refreshAllData, 100);
            }
        });

        $("#form-edituser").bindForm({
            success: function(user) {
                $("#form-edituser .form-control").val('');
                $("#global-alert").html('Updated User:' + user.FirstName + ' ' + user.LastName).show();
                setTimeout(refreshAllData, 100);
                $("#edit-user.remove-none").css('display', 'none');
                $("#edit-user.remove-visibility").css('visibility', 'hidden');
            }
        });

        $("#form-authenticate").bindForm({
            success: function(response) {
                $("#form-authenticate .form-control").val('');
                handleAuthentication();
            }
        });

        $(document).bindHandlers({
            showUser: function() {
                var id = $(this).data("id");
                $.ajax({
                    url: "@(new GetUser {Id = ""}.ToGetUrl())" + id,
                    dataType: 'json',
                    success: function(user) {
                        $("#E-Id").val(user.Id);
                        $("#delete-button").attr("data-id", user.Id);
                        $("#E-FirstName").val(user.FirstName);
                        $("#E-LastName").val(user.LastName);
                        $("#E-EmailAddress").val(user.EmailAddress);
                        $("#E-Locked").val("" + user.Locked);
                        $("#E-Active").val("" + user.Active);
                        $("#edit-user").show();
                        $("#form-edituser .alert-success").hide();
                        setTimeout(refreshActivityLog, 100);
                    }
                });
            },
            deleteUser: function() {
                var $li = $(this).closest("li");
                $.post("/user" + "/delete" + $li.data("id"),
                    function() {
                        $li.remove();
                    });
            },
            deleteRecord: function() {
                var id = $(this).data("id");
                console.log("Delete record" + id);
                $.ajax(
                    {
                        url:
                            "@(new UserDelete{Id = ""}.ToPostUrl())" + id,
                        dataType: 'json',
                        method: 'POST',
                        success:
                            function(user) {
                                $("#global-alert").html('Deleted User:' + user.FirstName + ' ' + user.LastName).show();
                                setTimeout(refreshAllData, 100);
                                $("#edit-user.remove-none").css('display', 'none');
                                $("#edit-user.remove-visibility").css('visibility', 'hidden');
                            }
                    });
            },
            createRecord: function() {
                $("#edit-user.remove-none").css('display', 'none');
                $("#edit-user.remove-visibility").css('visibility', 'hidden');
                $("#create-user.remove-none").css('display', 'block');
                $("#create-user.remove-visibility").css('visibility', 'visible');
            },

            cancelOperation: function() {
                $(".user-modal").css('display', 'none');
            },

            logoutOperation: function() {
                $.getJSON("@(new Authenticate {provider = "logout"}.ToGetUrl())",
                    function(resp) {
                        console.log("Signed out " + resp);
                        $("#global-alert").html("").hide();
                        setTimeout(handleAuthentication, 100);
                        refreshActivityLog();
                    });
            },
            toggleAction: function() {
                var $form = $(this).closest("form"), action = $form.attr("action");
                $form.attr("action", $form.data("action-alt"))
                    .data("action-alt", action);
            }
        });


        </script>
    </div>
</body>
</html>
